<header>
    <h1>{{ title }}</h1>
    <div class="btn-row">
        <app-btn color="primary" text="Create a new Article">
            
        </app-btn>
        <app-btn color="primary" text="Delete an article">
            
        </app-btn>
        <app-btn color="primary" text="Edit an article">
            
        </app-btn>
        <app-btn color="primary" text="View an article">
            
        </app-btn>
        <app-btn color="primary" text="View all articles">
            
        </app-btn>
    </div>
    

</header>