<div class="header-row">
    <app-header text="New Article / Update Article" class="sub-header"></app-header>
    <a routerLink="/">
        <app-btn color="orange" text="Return">
        </app-btn>
    </a>
</div>
<div class="holder-article-form card">
    <div class="submit-form" (ngSubmit)="onSubmit">
        <div>
            <div class="form-control">
                <label for="title" class="field-header">Title</label>
                <input type="text" name="title" id="title" placeholder="Add a title" required [(ngModel)]="article.title"  />
            </div>
            <div class="form-control">
                <label for="body" class="field-header">Body</label>
                <textarea type="text" name="body" id="body" placeholder="Add the article body" required [(ngModel)]="article.body" rows="8"></textarea>
            </div>
            <button (click)="onSubmit()" class="btn btn-success">Submit</button>
        </div>
    </div>

    

<!-- <div class="card" *ngIf="!article.id">
    <h4>Article</h4>
    <div>
        <label><strong>Title:</strong></label> {{ article.title }}
    </div>
    <div>
        <label><strong>Body:</strong></label>
        {{ article.body }}
    </div>
    <a class="btn btn-warning">
        Edit
    </a>
</div> -->

<!-- <ng-template #editable>
    <div *ngIf="article.id" class="edit-form">
        <h4>Article</h4>
        <form>
            <div class="form-group mb-3">
                <label for="title" class="mb-2">Title</label>
                <input type="text" class="form-control" id="title"  name="title" /> 
                [(ngModel)]="currentArticle.title"
            </div>
            <div class="form-group mb-3">
                <label for="body" class="mb-2">Body</label>
                <input type="text" class="form-control" id="body" [(ngModel)]="article.body" name="body" />
                 
             </div>
        </form>
        <button class="btn btn-danger me-2 mb-2" (click)="deleteArticle()" > 
            Delete
        </button>
        <button type="submit" class="btn btn-success mb-2"  (click)="updateArticle()">
            Update
        </button>
    </div>
    <div *ngIf="!article.id">
        <br />
        <p>Cannot access this Article...</p>
    </div>
</ng-template> -->