.form-control {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 4px;
}

.field-header {
    margin: 4px 0px 2px 2px;
}

.card {
    padding: 8px;
}

.input-field {
    padding: 2px;
}