//=======================================================|
/*#region -- DEFINE PALETTES -- */
$mat-primary: (
    50: #f9f4ea,
    100: #f0e5cb,
    200: #e7d3a9,
    300: #ddc186,
    400: #d5b46c,
    500: #cea752,
    600: #c99f4b,
    700: #c29641,
    800: #bc8c38,
    900: #b07c28,
    A100: #fff9f0,
    A200: #ffe4bd,
    A400: #ffcf8a,
    A700: #ffc570,
    contrast: (50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$mat-accent: (
    50: #e3e4e6,
    100: #babcc2,
    200: #8c8f99,
    300: #5d6270,
    400: #3b4151,
    500: #181f32,
    600: #151b2d,
    700: #303133,
    800: #0e121f,
    900: #080a13,
    A100: #566eff,
    A200: #2342ff,
    A400: #0022ef,
    A700: #001ed5,
    contrast: (50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #ffffff,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff,
    ),
);
$mat-warn: (
    50: #f5e8e9,
    100: #e5c5c9,
    200: #d49ea5,
    300: #c27780,
    400: #b55965,
    500: #a83c4a,
    600: #a03643,
    700: #972e3a,
    800: #8d2732,
    900: #7d1a22,
    A100: #ffb6bb,
    A200: #ff838c,
    A400: #ff505d,
    A700: #ff3645,
    contrast: (50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #ffffff,
    ),
);

//=======================================================|
/*#endregion -- DEFINE PALETTES -- */