.holder {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 1.2em;
    margin: 0.8em;
    border: 2px solid #CFA852;
    border-radius: 8px;
    background-color: #d3d3d3;
}

.main {
    background-color: #181f32;
}