<div>
    <div class="header-row">
        <app-header text="{{ currentArticle.title }}" class="sub-header"></app-header>
        <div class="btn-row">
            <a routerLink="/article-form/{{currentArticle.id}}"><app-btn color="orange" text="Edit an article"></app-btn></a>
            <app-btn color="red" text="Delete an article" (click)="openDialog()"></app-btn>
            <!-- (click)="deleteArticle(currentArticle.id)" -->
            <a routerLink="/article-list">
                <app-btn color="primary" text="View all articles">
                </app-btn>
            </a>
        </div>
    </div>
    <div class="article-body card">
        <p>
            {{ currentArticle.body }}
        </p>
    </div>
</div>
