@use '@angular/material' as mat;
@use './theme/mat-palette-gen.scss';
@use 'sass:map';

@include mat.core();

$primary-color: #A1A3A6;
$accent-color: #0D2341;
$warn-color: #a83c4a;

$primary-palette: createPalette($primary-color);
$accent-palette: createPalette($accent-color);
$warn-palette: createPalette($warn-color);

$warn: mat-palette($warn-palette);
$primary: mat-palette($primary-palette);
$accent: mat-palette($accent-palette);

// Pick one
$theme: mat-dark-theme($primary, $accent, $warn);
// $theme: mat-light-theme($primary, $accent, $warn);

@include mat.core-theme($theme);


// $my-primary: mat.define-palette(mat.$indigo-palette, 500);
// $my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// $my-theme: mat.define-light-theme((
//     color: (
//         primary: $my-primary,
//         accent: $my-accent,
//     )
// ));

// @mixin color($my-theme) {
//     // Get the color config from the theme.
//     $color-config: mat.get-color-config($theme);

//     // Get the primary color palette from the color-config.
//     $primary-palette: map.get($color-config, 'primary');

//     .my-carousel-button {
//         // Read the 500 hue from the primary color palette.
//         color: mat.get-color-from-palette($primary-palette, 500);
//     }
// } 


// @include mat.all-component-themes($my-theme);
// @include mat.strong-focus-indicators-theme(purple);
$light-background: #fafafa;

$light-bg-lighter-5: lighten($light-background, 5%);

button {
    background-color: $light-bg-lighter-5;
}

// Some global styling below
html,
body {
    height: 100%;
    padding: 0.8em 0.6em;
    background-color: #181f32 !important;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: x-large;
}

.sub-header {
    font-size: smaller;
    font-weight: lighter;
    
    h3 {
        margin: 0px;
        margin-left: 8px;
    }
}

.card {
    border-radius: 4px;
    padding: 4px;
    margin: 4px 4px 8px;
    background-color: #eef2f7;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12)
}


.header-row {
    display: flex;
    flex-direction: row;
    padding: 2px;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.column:has(app-mat-list) {
    width: 38%;
    justify-content: center;
}

.column:has(app-article-list) {
    width: 80%;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.btn-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.noticeMenuSelected {
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.bodyStyling {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.noticeArticleHeading {
    font-size: 20px;
    font-weight: 400;
    color: #333;
    padding: 5px;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
    max-height: fit-content;
    background-image: none;
}

input[type=checkbox] {
    display: none;
}

.lbl-toggle {
    font-weight: 600;
    position: relative;
    overflow: hidden;
    z-index: 3;
    font-size: 16px;
    left: 348px;
    cursor: pointer;
    transition: all 0.25s ease-out;
    color: #fcfcfd;
    background-color: #181f32;
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

mat-dialog-container {
    display: flex !important;
    padding: 0px !important;

}

a {
    cursor: pointer;
    border-radius: 4px;
}

button {
    cursor: pointer;
}

.cdk-global-overlay-wrapper {
    display: flex;
}

.collapsible-content {
    max-height: 130px;
    position: relative;
    overflow: hidden;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent, #222222);
    transition: max-height 0.25s ease-in-out;
}

.collapsible-inner {
    padding: 5px;
    z-index: -2;
}


.toggle {
    color: #fcfcfd;
    background-color: #181f32;
}

.backdrop {
    background-color: rgb(211, 211, 211);
}